@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
    overflow-x: hidden;
    cursor: none;
}

.about-section {
    position: relative;
}

.about-section::before {
    content: "";
    display: inline-block;
    width: 1px;
    position: absolute;
    border: 1px solid white;
    height: 100%;
    left: -33px;
    top: -11px;
}

.about-heading::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    left: -40px;
    top: 8px;
}

.triangle {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 90px solid rgb(255, 255, 255);
}

.cursor-dot {
    width: 5px;
    height: 5px;
    background-color: white;
}

.cursor-outline {
    width: 30px;
    height: 30px;
    top: 0;
    top: 0;
    border: 2px solid hsla(0, 0%, 100%, 0.5);
    background-color: #fff;
    transform-origin: center;
}

.cursor-dot,
.cursor-outline {
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    z-index: 2;
    mix-blend-mode: difference;
}
