@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
    overflow-x: hidden;
    cursor: none;
}

.about-section {
    position: relative;
}

.about-section::before {
    content: "";
    display: inline-block;
    width: 1px;
    position: absolute;
    border: 1px solid white;
    height: 100%;
    left: -33px;
    top: -11px;
}

.about-heading::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    left: -40px;
    top: 8px;
}

.triangle {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 90px solid rgb(255, 255, 255);
}

.cursor-dot {
    width: 5px;
    height: 5px;
    background-color: white;
}

.cursor-outline {
    width: 30px;
    height: 30px;
    top: 0;
    top: 0;
    border: 2px solid hsla(0, 0%, 100%, 0.5);
    background-color: #fff;
    transform-origin: center;
}

.cursor-dot,
.cursor-outline {
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    z-index: 2;
    mix-blend-mode: difference;
}

.gooey {
    background-image: linear-gradient(120deg, #000000 0%, #ffffff 100%);
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    width: 380px;
    height: 364px;
    animation: morph 3s linear infinite;
    transform-style: preserve-3d;
    outline: 1px solid transparent;
    will-change: border-radius;
    position: absolute;
    right: 220px;
    bottom: 200px;
}

.gooey:before {
    animation: morph 3s linear infinite;
    opacity: 0.21;
    animation-duration: 1.5s;
}

.gooey:after {
    animation: morph 3s linear infinite;
    animation-delay: 400ms;
    opacity: 0.89;
    content: "";
    line-height: 120px;
    text-indent: -21px;
}

@keyframes morph {
    0%,
    100% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    34% {
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }
    50% {
        opacity: 0.89;
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
}

@keyframes fadeIn {
    100% {
        transform: scale(1.03);
        opacity: 0;
    }
}
